<!DOCTYPE html>
<html>
  <head>
    <title>ReportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to_if params[:locale].present?, '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %> |
    <%= link_to_if params[:locale] != 'en',  'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%= t '.Logged in as:' %><strong><%= current_user.username %></strong>
      <%= image_tag(current_user.image.variant(resize:'80x80').processed)if current_user.image.attached? %>
      <% if current_user.avatar_url %>
        <img src="<%= current_user.avatar_url %>" width="80" height="80">
      <% end %>
      <%= link_to t('.Edit Profile'), edit_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t('.Logout'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
    <% end %>
    </p>
    <%= yield %>
  </body>
</html>
